			<div class="nav-wrap">
				<div class="nav-icons">
					<div class="left-group">
						<!-- Back arrow (left) -->
						<div class="tooltip left">
							<a class="arrow" href="javascript:history.back()">
								{% include icons/arrow.html %}
							</a>
							<span class="tooltiptext">Return to calling page</span>
						</div>
					</div>

						<!-- Right group icons -->
						<div class="right-group">
							<div class="tooltip right-left">
								<a class="a3" href="https://aaabs.com" target="_blank">
									{% include icons/a3.html %}
								</a>
								<span class="tooltiptext">A³</span>
							</div>
							<div class="tooltip right">
								<a class="gimp" href="/a3bs-public/docs/gimp/">
									{% include icons/gimp.html %}
								</a>
								<span class="tooltiptext">GIMP 3.0.4 Architecture</span>
							</div>
							<div class="tooltip right">
								<a class="simpleicons" href="https://simpleicons.org" target="_blank">
									{% include icons/simpleicons.html %}
								</a>
								<span class="tooltiptext">Simple Icons</span>
							</div>
							<!-- Add more easily -->
							<div class="tooltip right">
								<a class="chatgpt" href="https://chat.openai.com" target="_blank">
									{% include icons/chatgpt.html %}
								</a>
								<span class="tooltiptext">ChatGPT</span>
							</div>
							<div class="tooltip right">
								<a class="replit" href="https://replit.com" target="_blank">
									{% include icons/replit.html %}
								</a>
								<span class="tooltiptext">Replit</span>
							</div>
						</div>
				</div>
			</div>
