<!-- _includes/footer.html -->
<footer class="site-footer">
  <div class="social-icons">
    <a href="https://facebook.com/aaabscom" target="_blank">Facebook</a>
    <a href="https://instagram.com/aaabscom" target="_blank">Instagram</a>
    <a href="https://github.com/aaabscom" target="_blank">GitHub</a>
    <a href="https://linkedin.com/company/aaabscom" target="_blank">LinkedIn</a>
    <a href="https://twitter.com/aaabscom" target="_blank">X</a>
    <a href="https://aaabscom.github.io/a3bs-public/" target="_blank">Docs</a>
  </div>
  <p class="footer-note">© 2025 A Cubed Business Solutions</p>
</footer>
