<!-- _includes/footer.html -->
<div class="site-footer">
  <div class="social-icons">
		  <div class="tooltip"><a class="a3" href="https://aaabs.com" target="_blank">{% include icons/a3.html %}</a><span class="tooltiptext">Visit A³'s Website</span></div>
<div class="tooltip"><a class="bluesky" href="https://bsky.app/profile/aaabscom.bsky.social" target="_blank">{% include icons/bluesky.html %}</a><span class="tooltiptext">Join A³ on Blue Sky</span></div>
<div class="tooltip"><a class="discord" href="https://discord.com/users/aaabscom" target="_blank">{% include icons/discord.html %}</a><span class="tooltiptext">Join A³ on Discord</span></div>
<div class="tooltip"><a class="facebook" href="https://facebook.com/aaabscom" target="_blank">{% include icons/facebook.html %}</a><span class="tooltiptext">Join A³ on Facebook</span></div>
<div class="tooltip"><a class="github" href="https://github.com/aaabscom" target="_blank">{% include icons/github.html %}</a><span class="tooltiptext">Use and Contribute to A³ on GitHub</span></div>
<div class="tooltip"><a class="google" href="https://g.co/kgs/eKMpphL" target="_blank">{% include icons/google.html %}</a><span class="tooltiptext">Find A³ on Google</span></div>
<div class="tooltip"><a class="instagram" href="https://instagram.com/aaabscom" target="_blank">{% include icons/instagram.html %}</a><span class="tooltiptext">Join A³ on Instagram</span></div>
<div class="tooltip"><a class="ko-fi" href="https://ko-fi.com/aaabscom" target="_blank">{% include icons/ko-fi.html %}</a><span class="tooltiptext">Support A³ on Ko-fi</span></div>
<div class="tooltip"><a class="linkedin" href="https://linkedin.com/company/aaabscom" target="_blank">{% include icons/linkedin.html %}</a><span class="tooltiptext">Join A³ on Linkedin</span></div>
<div class="tooltip"><a class="mastodon" href="https://mastodon.social/@aaabscom" target="_blank">{% include icons/mastodon.html %}</a><span class="tooltiptext">Join A³ on Mastodon</span></div>
<div class="tooltip"><a class="pinterest" href="https://pinterest.com/aaabscom" target="_blank">{% include icons/pinterest.html %}</a><span class="tooltiptext">Join A³ on Pinterest</span></div>
<div class="tooltip"><a class="reddit" href="https://reddit.com/user/aaabscom" target="_blank">{% include icons/reddit.html %}</a><span class="tooltiptext">Join A³ on Reddit</span></div>
<div class="tooltip"><a class="reddit" href="https://reddit.com/r/gimp3python" target="_blank">{% include icons/reddit.html %}</a><span class="tooltiptext">Participate with A³ on Reddit gim3python</span></div>
<div class="tooltip"><a class="threads" href="https://threads.net/@aaabscom" target="_blank">{% include icons/threads.html %}</a><span class="tooltiptext">Join A³ on Threads</span></div>
<div class="tooltip"><a class="tiktok" href="https://tiktok.com/@aaabscom" target="_blank">{% include icons/tiktok.html %}</a><span class="tooltiptext">Join A³ on TikTok</span></div>
<div class="tooltip"><a class="x" href="https://x.com/aaabscom" target="_blank">{% include icons/x.html %}</a><span class="tooltiptext">Join A³ on X</span></div>
<div class="tooltip"><a class="youtube" href="https://youtube.com/@aaabscom" target="_blank">{% include icons/youtube.html %}</a><span class="tooltiptext">Find info by A³ on YouTube</span></div>
  </div>
  <p class="footer-note">© 2025 A Cubed Business Solutions</p>
</div>
