<div class="social-icons">
  <a href="https://facebook.com/aaabscom" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
  <a href="https://instagram.com/aaabscom" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://github.com/aaabscom" aria-label="GitHub"><i class="fab fa-github"></i></a>
  <a href="https://linkedin.com/company/aaabscom" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="https://twitter.com/aaabscom" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
  <a href="https://aaabscom.github.io/a3bs-public/" aria-label="Docs"><i class="fas fa-book"></i></a>
</div>
