<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title | default: site.title }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<script>
				document.addEventListener('DOMContentLoaded', function () {
						const socialIcons = document.querySelector('.social-icons');
						const toggleBtn = document.getElementById('footer-toggle');
						const statusSocialIcons = document.querySelector('.collapsed');

						const collapsedSocialState = localStorage.getItem('socialState');
						if (collapsedSocialState == "true") {
								socialIcons.classList.add('collapsed');
								toggleBtn.classList.add('closed');
								toggleBtn.style.transform = 'rotate(-90deg)';
						} else {
								toggleBtn.style.transform = 'rotate(90deg)';
						}

						if (!socialIcons || !toggleBtn) return;

						// Ensure expanded state on load

						toggleBtn.onclick = function () {
								const closedSocialState = localStorage.getItem('socialState');
								if (closedSocialState == "true")
										localStorage.setItem('socialState', "false");
								else
										localStorage.setItem('socialState', "true");

								const collapsed = socialIcons.classList.toggle('collapsed');
								toggleBtn.classList.toggle('closed');
								toggleBtn.style.transform = collapsed ? 'rotate(-90deg)': 'rotate(90deg)';
						};
				});
		</script>
	</head>

	<body>
		<div class="page-wrapper">
			<div class='nav-wrap'>
				<div class="tooltip left">
					<a class="arrow return-link" href="javascript:history.back()">{% include icons/arrow.html %}</a>
					<span class="tooltiptext">Return to calling page</span>
				</div>
  
				<div class="tooltip right">
					<a class="gimp" href="https://gimp.org" target="_blank">{% include icons/gimp.html %}</a>
					<span class="tooltiptext">Visit Gimp Website</span>
				</div>
			</div>

			<div class="main-container">
					<div class="content-wrapper">
						{{ content }}
					</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
