<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

  <div class='nav-wrap'>
  <div class="tooltip left">
		  <a class="arrow" href="javascript:history.back()" class="return-link">{% include icons/arrow.html %}</a>
		  <span class="tooltiptext">Return to calling page</span>
  </div>
  
  <div class="tooltip right">
		  <a class="gimp" href="https://gimp.org" target="_blank">{% include icons/gimp.html %}</a>
		  <span class="tooltiptext">Visit Gimp Website</span>
  </div>
  </div>

</head>
<body>
		<div class="page-wrapper">
			<div class="main-container">
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
</body>
</html>
