<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title | default: site.title }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const toggleBtn = document.getElementById('footer-toggle');
				const socialIcons = document.querySelector('.social-icons');

				if (!toggleBtn || !socialIcons) return;

				// Restore state
				const collapsed = localStorage.getItem('socialState') === 'true';
				socialIcons.classList.toggle('collapsed', collapsed);
				toggleBtn.classList.toggle('closed', collapsed);
				toggleBtn.style.transform = collapsed ? 'rotate(-90deg)' : 'rotate(90deg)';

				// Click handler
				toggleBtn.addEventListener('click', () => {
				const isCollapsed = socialIcons.classList.toggle('collapsed');
				toggleBtn.classList.toggle('closed', isCollapsed);
				toggleBtn.style.transform = isCollapsed ? 'rotate(-90deg)' : 'rotate(90deg)';
				localStorage.setItem('socialState', isCollapsed);
				});
			});
		</script>

	</head>

	<body>

		<div class="page-wrapper">
			<div class='nav-wrap'>
				<div class="tooltip left">
					<a class="arrow" href="javascript:history.back()" class="return-link">{% include icons/arrow.html %}</a>
					<span class="tooltiptext">Return to calling page</span>
				</div>

				<div class="right-group">
					<div class="tooltip right-left">
						<a class="chatgpt" href="https://chatgpt.com" target="_blank">{% include icons/chatgpt.html %}</a>
						<span class="tooltiptext">Visit ChatGPT Website</span>
					</div>
					
					<div class="tooltip right">
						<a class="replit" href="https://replit.com/refer/aaabscom" target="_blank">{% include icons/replit.html %}</a>
						<span class="tooltiptext">Visit Replit Website</span>
					</div>
				</div>
			</div>

			<div class="main-container">
				<div class="content-wrapper">
					{{ content }}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
